!!! 5
%html{ html_attrs }
  %head
    %title omelet
    = stylesheet_link_tag    "omelet_ui/application", :media => "all"
    = javascript_include_tag "omelet_ui/application"
    = csrf_meta_tags

  %body
    -# = render :partial => 'layouts/sidebar'
    %article
      -# = render :partial => 'layouts/breadcrumb'
      %header
        #welcome-text
          Hey there! Need to go
          = link_to "back to the homepage?", OmeletUi.home_path
        #return-text
          powered by omelet


      %nav
        #title-container
          #company-name
            = OmeletUi.app_name
          #reports-text
            reports
        #all-button
          #all-button-icon
            รถ
          #all-button-text
            ALL
        #queued-button
          #queued-button-icon
            R
          #queued-button-text
            PROCESSING
        #completed-button
          #completed-button-icon
            W
          #completed-button-text
            FINISHED
      %section
        = yield

