= simple_form_for @report, :url => "/omelet/reports?template_id=#{@template.id}" do |f|
  = f.input :title
  = f.simple_fields_for :app_meta, @report.app_meta do |b|
    - @template.fields.each do |k, v|
      = b.input k.to_sym, :as => v.to_sym
  = f.submit
