%h1 Hey there.
%p Here are all your reports.
%p=@reports.inspect
%p
  You have
  = @reports.count
  reports.
  = @pending.count
  are pending,
  = @queued.count
  are queued,
  = @running.count
  are running, and
  = @finished.count
  are done!

%table
  %thead
    %th ID
    %th Title
    %th Status
  %tbody
    - for report in @reports do
      %tr
        %td= report.id
        %td= report.title
        %td= report.status

%ul{:id => 'reportList'}
  %li item 0
  %li item 1
  %li item 2
  %li item 3
  %li item 4
  %li item 5
  %li item 6
  %li item 7
  %li item 8

